# -------------------------------------------------------------------------- #
# Arquivo padrão de configuração do programa detoxbase.sh
# -------------------------------------------------------------------------- #
CONF_FILE=detoxbase.cnf (2020-06-09)
RELAT_DIR=output
