# -------------------------------------------------------------------------- #
# Arquivo padrão de configuração do programa indexbase.sh
# -------------------------------------------------------------------------- #
CONF_FILE=indexbase.cnf (2020-06-13)
RELAT_DIR=output
