# -------------------------------------------------------------------------- #
# Arquivo padrão de configuração do programa pubdaily.sh
# -------------------------------------------------------------------------- #
CONF_FILE=pubdaily.cnf (2020-06-09)
PATH_REL=
