# -------------------------------------------------------------------------- #
# Arquivo padrão de configuração do programa trnfrbase.sh
# -------------------------------------------------------------------------- #
CONF_FILE=publcbase.cnf (2020-06-19)
RELAT_DIR=output
