# -------------------------------------------------------------------------- #
# Arquivo padrão de configuração do programa trnfrbase.sh
# -------------------------------------------------------------------------- #
CONF_FILE=trnfrbase.cnf (2020-06-16)
RELAT_DIR=output
